@import url('./reset.css');

* {
    text-decoration: none;
}


body {
    font-family: 'Roboto', sans-serif;

}



/*mobile first*/
header .nav-links {
    display: none;
}


header .nav-links a {
    color: #222;
}

header {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* align-items: center; */
    align-items: center;
}



/* intro hissesi basladi */
h1 span {
    color: #ff8a56;
}


.introduction .intro-left-side h1{
   margin-top: 20px;
    font-size: 39px;
    font-weight: 700;
    text-align: center;
}

.introduction .intro-right-side img{
    width: 300px;;
}
.introduction .intro-right-side img{
    width: 100%;
}
/* media sorgulari */
@media(min-width:768px) {
    .fa-burger {
        display: none;
    }


    header {
        padding: 30px 55px;
    }

    header .nav-links {
        display: flex;
        gap: 10px;
    }
    .introduction{
        display: flex;
    }
    .introduction .intro-right-side {
        width: 700px;
    }
    .introduction .intro-left-side h1{
        font-size: 54px;
        font-weight: 800px;
    }
}



@media(min-width:1080px) {
    header {
        padding: 20px 112px;
    }
}
